MLCompetitionHub: 一站式显示各大数据竞赛平台正在进行的比赛。如果该服务不是您主动订阅的，请到 https://github.com/LogicJake/MLCompetitionHub/issues 寻求帮助或自行 pull request 从 mails.txt 删除您的邮箱地址。  
<br>
<br>
{% for data in datas %}
{% if data.competitions|length > 0 %}
<h2>{{data.name}}</h2>
{% for competition in data.competitions %}
<h3>{{competition.name}}</h3>
{{competition.url}}
<h4>Description</h4>
{{competition.description}}
<h4>Deadline: {{competition.deadline}}</h4>
<h4>Reward: {{competition.reward}}</h4>
{% endfor %}
{% endif %}
{% endfor %}