# {{data.name}}
{% if data.competitions|length > 0 %}
{% for competition in data.competitions %}
{% if competition.new_flag %}
## {{competition.name}} <sup style="color:red">[new]<sup>  
{% else %}
## {{competition.name}}
{% endif %}
Link: {{competition.url}}  
Description: {{competition.description}}  
Deadline: {{competition.deadline}}  
Reward: {{competition.reward}}  
{% endfor %}
{% else %}
> 该平台暂无进行中的比赛！
{% endif %}
