<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <generator>LogicJake</generator>
    <id>https://github.com/LogicJake/MLCompetitionHub</id>
    <title><![CDATA[MLCompetitionHub]]></title>
    <updated>{{update}}</updated>
    <link href="https://www.logicjake.xyz/MLCompetitionHub"/>
    <author>
        <name><![CDATA[LogicJake]]></name>
    </author>
    {% for data in datas %}
    {% for competition in data.competitions %}
    <entry>
        <id>{{competition.url}}</id>
        <title><![CDATA[{{competition.name|safe}}]]></title>
        {% if competition.start_time != "未给出具体时间" %}
        <updated>{{competition.start_time}}</updated>
        {% else %}
        <updated>{{update}}</updated>
        {% endif %}
        <link href="{{competition.url}}"/>
        <content><![CDATA[{{competition.content|safe}}]]></content>
        <author>
            <name><![CDATA[{{data.name}}]]></name>
        </author>
    </entry>
    {% endfor %}
    {% endfor %}
</feed>