![MLCompetitionHub](https://github.com/LogicJake/MLCompetitionHub/workflows/MLCompetitionHub/badge.svg?branch=master)  
一站式显示各大数据竞赛平台正在进行的比赛，每天 05:00 UTC+8 自动更新。  
更新时间: {{update}}  
RSS 订阅: [https://www.logicjake.xyz/MLCompetitionHub/rss.atom](https://www.logicjake.xyz/MLCompetitionHub/rss.atom)  
{% for data in datas %}
{% if data.competitions|length > 0 %}
# {{data.name}}
{% for competition in data.competitions %}
{% if competition.new_flag %}
## [{{competition.name}}]({{competition.url}}) ![](new_tag.png)  
{% else %}
## [{{competition.name}}]({{competition.url}})  
{% endif %}
### Description  
{{competition.description}}  
### Deadline: {{competition.deadline}}  
### Reward: {{competition.reward}}  
{% endfor %}
{% endif %}
{% endfor %}